
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-header {
  background: #f8d1a4;
  padding: 1.5%;
}

@media only screen and (max-width: 640px){
li{
  border-bottom: gray solid 1px;
  display: block;
  }
}

.nav-ul {
  width: 100%;
display: none;
}

.template {
  display: none;
}

.hamburger {
  display: block;
  font-size: 3rem;
}

nav:hover .nav-ul {
  display: block;
} 

@media only screen and (min-width: 640px) {
  .nav-ul {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
.byline  address {
  display: inline-block;
}